{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <title>No Rujukan</title>

  <style>
    *{
      /* border:1px solid red; */
    }
    body{
      background: aqua;
    }
    .login-page{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .form{
      margin: 0 50px;
      background:#fff;
      padding:20px; 
    }
    .btnsubmit{
      margin: 0 10px;
    }
  </style>
</head>

<body>
  <div class="login-page">
    <!-- <button id="tesint">TESTING</button> -->
    <div class="form">
      <!-- NO RUJUKAN -->
      <h4>NOMOR RUJUKAN</h4>
      <!-- <iframe name="sbmtnorujukan" style="display:none;"></iframe> -->
      <form class="form-inline1" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Nomor Rujukan" name="diagnosa" required/>
        <button type="submit" class="btnsubmit" id="buttonin">Submit</button>
      </form>

      <div style="display: flex;">
        <form id="myForm" method="post">
          <button type="submit">MODAL</button>
        </form>

       
      </div>
    </div>

      <!-- NO KARTU -->
    <!-- <div class="form">
      <h4>NOMOR KARTU</h4>
      <form class="form-inline" id="member1" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Nomor Kartu" name="nomorKartu" required/>
        <button type="submit" class="btnsubmit">Submit</button>
      </form>

      <form id="myFormKartu" method="post">
        <button type="submit">SHOW DETAIL</button>
      </form>
    </div> -->
  </div>

<!-- MODAL DARI NOMOR RUJUKAN -->
  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>NAMA     : {{diagnosa.response.rujukan.peserta.nama}}</p>
          <p>NO KARTU : {{diagnosa.response.rujukan.peserta.noKartu}}</p>
          <p>NO RUJUKAN : {{noRujukan}}</p>
          <form method="post">
            {% csrf_token %}
            <input type="text" name="faskes" placeholder="Kode Faskes" required>
            <input type="text" placeholder="Catatan" name="catatan" required>
            <button type="submit">Submit faskes</button>
          </form>

          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="dpjp">
            <!-- <input type="text" placeholder="Catatan" name="catatan"> -->
            <button type="submit">Submit DPJP</button>
          </form>
      <!-- <p>{{hasil}}</p> -->

        </div>
        <div class="modal-footer">
          <!-- <form method="post" action="/printsep/"> -->
      
          <!-- <iframe name="createsep" style="display:none;"></iframe>       -->
          <form method="post">
              {% csrf_token %}
            <button id="postData" type="submit">CREATE SEP</button>
          </form>

             <!-- CETAK SEP -->
          <form method="post" action="/printsep/">
            {% csrf_token %}
            <input type="hidden" value="{{hasil}}" name="sep">
            <button type="submit">CETAK SEP</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.mo -->


  <!-- MODAL DARI NOMOR KARTU -->
  <!-- <div class="modal fade" tabindex="-1" role="dialog" id="modalKartu">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>{{nokar}}</p>
          <p>{{hasil}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <form method="post">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <script>
    $(document).ready(function() {
      $('#myForm').on('submit', function(e){
        // console.log('{{diagnosa}}')
        // $.ajax({
        //   url:"http://localhost:8000",
        //   method:'get',
        //   success: function(){
        //     console.log("{{diagnosa}}")
        //     // $("#myModal").load(location.href + " #myModal");
        //   }
        // })
        $("#myForm").load(location.href + " #myForm > *");
        $('#myModal').modal('show');
        e.preventDefault();

      });

      $("#postData").on('click',function(){
        // console.log('test')
        $.ajax({
          url:'http://localhost:8000',
          type:'get',
          success: function(){
            console.log('suskses')
          }
        })
      })
      
      $('#myFormKartu').on('submit', function(e){
        $('#modalKartu').modal('show');
        e.preventDefault();

      });
     
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>