<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="cetaksep/" method="post">
        {% csrf_token %}
        <label for="kode">Pilih Dokter:</label>
        <select id="kode" name="kode">
        {% for i in dpjp.response.list %}
          <option value="{{i.kode}}">{{i.nama}}</option>
        {% endfor %}
        </select>
        <button type="submit">SUBMIT</button>
      </form>
</body>
</html>